/**
 * Wrappers
 */
.carusel
  width: 100%
  height: 198px
  overflow: hidden

.carusel-slides
  width: 100%
  height: 100%
  position: relative
  left: 0px
  display: inline-block
  
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0


/**
 * Row styles
 */
.row
  display: inline-block
  width: 184px
  height: calc(100% - 8px)
  float: left
  margin: auto 8px 
  border: 2px solid

  /**&:nth-child(even)*/
    


/**
 * Pager
 */
.pager
  max-width: 320px
  margin: 0 auto

.pager-btn

  &:hover
    cursor: pointer